<ion-view>
  <ion-content header-shrink ng-controller="FeedController">
  <div class="list main-feed">
    <a class="item item-avatar" href="#">
      <img src="img/arjun.jpg" class="thumb">
      <div class="row">
        <div class="col col-90">Celtics win 9 games Feb</div>
        <div class="col">$10</div>
      </div>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/arjun.jpg" class="thumb">
      <div class="row">
        <div class="col col-90">Celtics win 9 games Feb</div>
        <div class="col">$10</div>
      </div>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/arjun.jpg" class="thumb">
      <div class="row">
        <div class="col col-90">Celtics win 9 games Feb</div>
        <div class="col">$10</div>
      </div>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/arjun.jpg" class="thumb">
      <div class="row">
        <div class="col col-90">Celtics win 9 games Feb</div>
        <div class="col">$10</div>
      </div>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/arjun.jpg" class="thumb">
      <div class="row">
        <div class="col col-90">Celtics win 9 games Feb</div>
        <div class="col">$10</div>
      </div>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/arjun.jpg" class="thumb">
      <div class="row">
        <div class="col col-90">Celtics win 9 games Feb</div>
        <div class="col">$10</div>
      </div>
    </a>
  </div>
  </ion-content>
</ion-view>
