
@font-face {
  font-family: 'fontawesome';
  src:url('../fonts/fontawesome-webfont.eot');
  src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
      url('../fonts/fontawesome-webfont.woff') format('woff'),
      url('../fonts/fontawesome-webfont.ttf') format('truetype'),
      url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-plus {
  :before                         {font-family: 'fontawesome';}
  :after                          {border: none !important;}
}

.ionic-logo {
  display: block;
  border: none;
  margin: 50px auto;
  width: 96px;
  height: 96px;
}

.main-feed {
  .thumb                          {border-radius:20% !important;}
  .title, .dollar                 {display:inline;}
  .title                          {text-align:left;}
  .dollar                         {text-align:right;}
}
